.padre {
   /* display: flex;
    flex-direction: row;
    height: 78vh;
    width: 100%;*/
    display: flex;
            flex: 1;
   

}

.hijo1 {
    padding: 10px;
    width: 12%;

}

.hijo2 {
    width: 74%;height: auto;font-size: 16px; 
}

.hijo3 {
    width: 14%;
}
#containerinsertar{
    width: 900px;
}
